<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/app_dev.php/">Grupa ABS Informatyk</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/app_dev.php/">Strona główna</a></li>
                <li><a href="/app_dev.php/ofirmie">Firma</a></li>
                <li><a href="/app_dev.php/produkty">Produkty</a></li>
                <li><a href="/app_dev.php/pracownicy">Pracownicy</a></li>
                <li><a href="/app_dev.php/kontakt">Kontakt</a></li>
              </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% stylesheets
            'css/bootstrap.min.css'
            'css/style.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts
            'js/jquery.min.js'
            'js/bootstrap.min.js'
            output='js/compiled/app.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
